<div class="selecionar">
    <div class="row">
        <div class="col-sm-12 col-md-6" *ngIf="mostraAno">
            <div><b>Ano</b></div>
            <p-dropdown [options]="anoLista" [(ngModel)]="selectedAno" optionLabel="name" (onChange)="onAno($event)">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="selectedAno">
                        <div>{{selectedAno.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-ano pTemplate="item">
                    <div>
                        <div>{{ano.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="mostraConsultar">
            <button class="btn btn-primary" (click)="consultar()">Consultar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div><b>Jogador</b></div>
            <p-dropdown [options]="avatars" [(ngModel)]="selectedAvatar" optionLabel="name" (onChange)="onJogador($event)">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="selectedAvatar">
                        <img src = "../../assets/avatars/{{selectedAvatar.imagem}}.png" width="20px" height="20px" />
                        <div style="display: inline;">&nbsp;&nbsp;{{selectedAvatar.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-avatar pTemplate="item">
                    <div style="display: inline;">
                        <img src = "../../assets/avatars/{{avatar.imagem}}.png" width="20px" height="20px" />
                        <div style="display: inline;">&nbsp;&nbsp;{{avatar.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="col-sm-12 col-md-6">
            <div><b>Parceiro</b></div>
            <p-dropdown [options]="avatarsPar" [(ngModel)]="selectedAvatarPar" optionLabel="name" (onChange)="onParceiro($event)">
                <ng-template pTemplate="selectedItem">
                    <div *ngIf="selectedAvatarPar">
                        <img src = "../../assets/avatars/{{selectedAvatarPar.imagem}}.png" width="20px" height="20px" />
                        <div style="display: inline;">&nbsp;&nbsp;{{selectedAvatarPar.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-avatarPar pTemplate="itemPar">
                    <div>
                        <img src = "../../assets/avatars/{{avatarPar.imagem}}.png" width="20px" height="20px" />
                        <div style="display: inline;">&nbsp;&nbsp;{{avatarPar.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
</div>
