.selecionar{
    padding: 5px 5px 5px 5px; 
    background-color: #54de54;
}

.selparceiro{
    padding: 5px 5px 5px 5px; 
    background-color: #9fc9f0;
}

.seladversario{
    padding: 5px 5px 5px 5px; 
    background-color: #9fc9f0;
}