<nav id="left-panel" role="navigation" class="navbar menu-left" >
    <div class="row">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a routerLink="home" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="dashboard" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="lastgame" routerLinkActive="active" class="nav-link" >
                    <i class="fas fa-calendar"></i>
                    <span>Último Jogo</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="onegame" routerLinkActive="active" class="nav-link" >
                    <i class="fas fa-calendar"></i>
                    <span>Selecionar Jogo</span>
                </a>
            </li>            
            <li class="nav-item">
                <a routerLink="predict" routerLinkActive="active" class="nav-link" >
                    <i class="fas fa-medal"></i>
                    <span>Previsão</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="versus" routerLinkActive="active" class="nav-link" >
                    <i class="fas fa-people-arrows"></i>
                    <span>Versus</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="now" routerLinkActive="active" class="nav-link" >
                    <i class="fas fa-eye"></i>
                    <span>Agora</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
