<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <div class="row">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">
            <!-- <img alt="" class="hidden-sm-down" src="http://azimuth.themeseason.com/assets/img/logo/az_logo_full.png">
            <img alt="" class="hidden-md-up" src="http://azimuth.themeseason.com/assets/img/logo/az_logo.png"> -->
            PlayCards Estatísticas
        </a>
        <ul class="nav right-section">
            <!--<li>
                <a routerLink="home" routerLinkActive="active" class="nav-link">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="dashboard" routerLinkActive="active" class="nav-link">
                    <i class="fas fa-tachometer-alt" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="lastgame" routerLinkActive="active" class="nav-link">
                    <i class="fas fa-scroll" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="predict" routerLinkActive="active" class="nav-link">
                    <i class="fas fa-scroll" aria-hidden="true"></i>
                </a>
            </li> -->
        </ul>
    </div>
</nav>