<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <selecionar 
                (anoSel)="onAno($event)"
                (jogadorSel)="onJogador($event)"
                (parceiroSel)="onParceiro($event)"
                (callConsultar)="consultar($event)"
            ></selecionar>
        </div>

        <div *ngIf="mostrar">
            <div class="col-sm-12 col-md-4">
                    <div>
                        <div>Venceu: {{ p_venceu }} partida{{pl_partida}}.</div>
                        <div>Mil limpa: {{ p_rl }}</div>
                        <div>Mil suja: {{ p_rs }}</div>
                        <div>As a As limpa: {{ p_al }}</div>
                        <div>As a As suja: {{ p_as }}</div>
                        <div>Canastra limpa: {{ p_cl }}</div>
                        <div>Canastra suja: {{ p_cs }}</div>
                        <div>Baixou em média {{ p_vulpto }} pontos no vul</div>
                        <div>Fez em média {{ p_pto }} pontos por rodada</div>
                    </div>
            </div>
            <div class="col-sm-12 col-md-4">
                    <div>
                        <p-chart type="pie" [data]="data" [style]="{'width': '40%'}"></p-chart>
                    </div>
            </div>
        </div>
    </div>
</div>
