<div class="principal">
    <h1>PLAYCARDS</h1>
    <div>
        <img src = "../../assets/image/icon.png"/>
    </div>
    <h2>buraco</h2>
</div>
<br>
<div class="setup">
    <a href="https://playcardstatistic.herokuapp.com/assets/instalador/Manual_BURACO.pdf" target="_blank">
        <i class="fa fa-file-pdf-o">
            Manual
        </i>
    </a>    
</div>
<br><br>
<div style="text-align: left; padding: 0px 20px">
    <a href="http://www.jknoda.com.br" target="_blank">www.jknoda.com.br</a>
</div>
<ul class="ul-icons">
    <li><a href="http://www.linkedin.com/in/jorge-noda-11a01b4" target="_blank" class="icon-link"><span class="hidden">Linked In</span><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://github.com/jknoda" target="_blank" class="icon-link"><span class="hidden">Github</span><i class="fab fa-github"></i></a></li>
    <li><a href="http://facebook.com/jorge.k.noda" target="_blank" class="icon-link"><span class="hidden">Facebook</span><i class="fab fa-facebook-square"></i></a></li>
    <li><a href="mailto:jknoda@gmail.com" target="_blank" class="icon-link" title="jknoda@gmail.com"><span class="hidden">Email</span><i class="fa fa-envelope"></i></a></li>
    <li><a href="https://wa.me/5512997683407" target="_blank" class="icon-link" title="(12)99768-3407"><i class="fab fa-whatsapp"></i></a></li>                
</ul>
<br>
<div class="setup">
    <a href="https://playcardstatistic.herokuapp.com/assets/instalador/atual/instalador.exe" title="{{ version }}">
        <i class="fab fa-windows">
            Disponível para windows
        </i>
    </a>    
    <sup (click)="showDialog()">
        <i class="fas fa-question-circle" style="font-size: small;" title="Ajuda para instalação no windows">
        </i>
    </sup>
</div>
<div class="googleplay">
    <a href='https://play.google.com/store/apps/details?id=com.JKNSoftware.Buraco&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Disponível no Google Play' src='https://play.google.com/intl/pt-BR/badges/static/images/badges/pt-br_badge_web_generic.png'  title="{{ version }}" /></a>
</div>

<p-dialog header="Instalação Windows" [(visible)]="display">
<div class="textarea">
<h2><i class="fab fa-windows">&nbsp;Instruções para instalação</i></h2>
<hr>
Clicando em <b>"Disponível para Windows"</b> o programa <b>"setup.exe"</b>, será baixado.<br>
<br>
Ao baixar o programa <b>"setup.exe"</b> talvez apareça a mensagem: <b>"O arquivo setup.exe não costuma ser transferido por download e pode ser perigoso."</b>
Clique em <span style="font-size: 24px;"><b>^</b></span> e selecione <b>"Manter"</b>.<br>
<br>
Após o download, clique em <b>setup.exe</b> para executar o programa.<br>
<br>
Outra mensagem poderá aparecer: <b>"O Windows protegeu o computador"</b>...<br>
<br>
clique em <b>"Mais informações"</b> em seguida<br>
clique em <b>"Executar assim mesmo"</b><br>
<br>
O programa de instalação irá iniciar.<br>
<br>
Vá clicando em <b>"Next"</b> -> <b>"Start"</b> -> <b>"Next"</b> -> <b>"Exit"</b><br>
<br>
O programa estará instalado na pasta:<br>
<b>C:\JKNsoft\Buraco</b><br>
<br>
Para executar o programa vá para esta pasta e clique em <b>"Buraco.exe"</b><br>
<br>
- Talvez o antivirus faça uma varredura no programa.<br>
<br>
Há um manual com instruções de como jogar.<br>
<br>
O manual está na mesma pasta <b>C:\JKNSoft\Buraco</b><br>
com nome de <b>"Manual_BURACO.pdf"</b>
</div>
</p-dialog>

